/* Rectangle pour écriture */
  .gameQuestion {
    font-size: large;
    width: 50%;
    height: 50%;
    border-radius: 50px;
    background-color: rgba(126, 149, 145, 1);
    color: white;
    border: 5px solid;
    margin: auto;
    padding: 10px;
    top: 50%;
    transform: translateY(50%);
    
  };

  .endAccueil {
    display: flex;
    flex-direction: column;
    align-content: center ;
    align-items: center;
    text-align: center;
    margin: auto;
  }